@charset "utf-8";

/* 시월구일 */
@font-face {
    font-family: 'KoreanSWGI4R';
    src: url('fonts/KoreanSWGI4-R.woff2') format('woff2'),
        url('fonts/KoreanSWGI4-R.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoreanSWGI3R';
    src: url('fonts/KoreanSWGI3-R.woff2') format('woff2'),
        url('fonts/KoreanSWGI3-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoreanSWGI1R';
    src: url('fonts/KoreanSWGI1-R.woff2') format('woff2'),
        url('fonts/KoreanSWGI1-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoreanSWGI2R';
    src: url('fonts/KoreanSWGI2-R.woff2') format('woff2'),
        url('fonts/KoreanSWGI2-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

